* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-btn: #ff900e;
  --color-dark: #131313;
  --color-dark2: #424242;
  --color-dark3: #727272;
  --color-white: #ffffff;
  --color-pink: #fff4e7;
}
.hide {
  display: none;
}
/* general styles */
body {
  font-family: "Work Sans", sans-serif;
}
.gallery-container,
.sponsor-container,
.features-container,
.Updates,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}
.btn-explore {
  background-color: var(--color-btn);
  color: var(--color-white);
  font-weight: 600;
  font-size: 20px;
  border: 0;
  border-radius: 8px;
  padding: 20px 15px;
  width: 170px;
}
/* header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 130px;
  background-color: rgba(255, 144, 14, 0.1);
}
.header-container {
  max-width: 1140px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.name {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: var(--color-dark);
}
.nav-menu ul {
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 35px;
}
.nav-menu a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}
.header-info-container {
  display: flex;
  justify-content: center;
}
.header-info {
  text-align: center;
}
.header-info-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.info-title {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 24px;
}
.info-description,
.section-details {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 32px;
  color: var(--color-dark3);
}
.banner > img {
  width: 100%;
}
/* main section styles */
.gallery {
  display: flex;
  align-items: center;
  column-gap: 72px;
  width: 1100px;
}
.gallery-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.gallery-image > img {
  width: 342px;
  height: 342px;
  border-radius: 8px;
}
.section-title {
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 24px;
  color: var(--color-dark);
}
.features {
  width: 1140px;
  display: flex;
  gap: 50px;
}
.feature-text {
  width: 40%;
}
.feature-header {
  margin-bottom: 24px;
  padding-left: 20px;
  border-left: 5px solid var(--color-btn);
}
.feature-details {
  margin-top: 30px;
}
.single-feature {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
}
.feature-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--color-dark);
}
.feature-image {
  position: relative;
  width: 60%;
}
.feature-image > img {
  width: 100%;
  height: 90%;
  padding-left: 70px;
}
.btn-experience {
  position: absolute;
  bottom: 0px;
  background-color: var(--color-btn);
  color: var(--color-white);
  border: 0;
  padding: 35px 30px;
  border-radius: 8px;
}
.btn-experience > h1 {
  font-weight: 600;
  font-size: 45px;
}
.btn-experience > p {
  font-weight: 500;
  font-size: 22px;
}
.facts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px;
}
.facts {
  width: 1140px;
}
.facts-details {
  margin-bottom: 100px;
}
.stats {
  display: flex;
  justify-content: space-between;
}
.stats-details {
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 46px 36px;
  text-align: center;
  transition: transform 0.5s;
}
.stats-details:hover {
  transform: scale(1.2);
  background-color: var(--color-pink);
}
.stats-title {
  font-weight: 600;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--color-dark2);
}
.stats-description {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-dark3);
}
.sponsors {
  width: 1140px;
}
.sponsor-details {
  text-align: center;
}
.sponsor-logos {
  display: flex;
  justify-content: space-between;
}
.sponsor-logos > img {
  filter: grayscale(1);
}
.updates-content {
  text-align: center;
  width: 1140px;
}
input {
  padding: 20px 15px;
  font-weight: 600;
  font-size: 20px;
  color: #aa9f9f;
  background-color: #d9d9d9;
  border-radius: 5px;
  border: 0;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
/*------------------
      footer styles
--------------------*/
.footer-content {
  width: 1140px;
  text-align: center;
  background-color: var(--color-pink);
  /* margin-bottom: 150px; */
  border-radius: 8px;
}
.footer-text {
  font-weight: 400;
  font-size: 20px;
  margin-top: 38px;
  margin-bottom: 38px;
  color: var(--color-dark2);
}
/* -----------------------------
            Media query 
--------------------------------*/
/* mobile screen */
@media screen and (max-width: 576px) {
  .gallery-container,
  .features-container,
  .Updates,
  .footer {
    margin-bottom: 100px;
  }
  .sponsor-container,
  .facts-container {
    margin-bottom: 120px;
  }
  .header {
    margin-bottom: 50px;
  }
  .header-container {
    width: 90%;
  }
  .nav {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .name {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .nav-menu ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .nav-menu a {
    font-weight: 600;
  }
  .info-title {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .gallery {
    flex-direction: column;
    width: 90%;
  }
  .gallery-info {
    text-align: center;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .gallery-image {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    place-items: center;
  }
  .gallery-image > img {
    width: 90%;
    height: 342px;
  }
  .section-title {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 15px;
  }
  .section-details {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .btn-explore {
    font-size: 16px;
    padding: 10px 5px;
    width: 150px;
  }
  .features {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
  }
  .feature-text {
    width: 70%;
  }
  .feature-image {
    position: relative;
    width: 70%;
  }
  .feature-image > img {
    height: 100%;
    padding-left: 0;
  }
  .btn-experience {
    position: absolute;
    bottom: -105px;
    padding: 20px 15px;
    border-radius: 8px;
  }
  .btn-experience > h1 {
    font-weight: 500;
    font-size: 30px;
  }
  .btn-experience > p {
    font-weight: 400;
    font-size: 18px;
  }
  .facts,
  .sponsors,
  .updates-content {
    width: 90%;
  }
  .facts-details {
    margin-bottom: 45px;
  }
  .stats {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .stats-title {
    font-size: 40px;
  }
  .stats-description {
    font-size: 20px;
  }
  .sponsor-logos {
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
  }
  .stats-details {
    padding: 36px 36px;
  }
  form {
    flex-direction: column;
  }
  input {
    padding: 10px 8px;
    font-weight: 400;
    font-size: 17px;
  }
  .footer-content {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
